body { 
	margin-left: 50px; margin-right: 50px;
}
@media (max-width: 980px) {
    body { margin-left: 20px; margin-right: 20px; }
    }
@media (max-width: 760px) {
body { margin-left: 5px; margin-right: 5px; }
.logo {
	display:block;
    margin: 0 auto;
    width: 293px;
    height: 54px;
	}
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans-serif;
}
p, div {
    font-family: 'PT Serif', serif;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

#builtinstl img {
    display:block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    padding-bottom: 5px;
}