<!DOCTYPE html>
<html>

    <head>
        <title>St. Louis Crimelog</title>
    </head>

    <body>
    	<h1>St. Louis Crimelog</h1>
		{% if story_list %}
		    <ul>
		    {% for story in story_list %}
		        <li>
		            <span>{{ story.source }}</span>
		            <a href="{{ story.url }}/">{{ story.headline }}</a>
		            <span>Added on: {{ story.added}}</span>
		        </li>
		    {% endfor %}
		    </ul>
		{% else %}
		    <p>No stories loaded.</p>
		{% endif %}
    </body>
</html>
