<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <title>STL Crimeline - A timeline of St. Louis crime news</title>
      {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- STYLE SHEETS -->
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/custom.css" %}">

        <!-- SCRIPTS -->
        <script src="{% static "js/jquery.js" %}"></script>
        <script type ="text/javascript" src="{% static "js/bootstrap.js" %}"></script>

        <!-- FONTS -->
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- BOOTSTRAP TAB SCRIPT -->
    <script>
        $(document).ready(function(){
          $('.dropdown-toggle').dropdown()
        });
    </script>
    </head>

    <body>
    <div id="wrap">
      <div id="main" class="container clear-top">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- START HEADER -->
        <div class="page-header" id="banner">
          <div class="row">
            <div class="col-lg-6">
                <img class="logo" src="{% static "img/logo.png" %}" alt="STL Crimeline">
            </div>
          </div>
        </div>
        <!-- END HEADER -->

        <!-- START NAV BAR -->
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" style="margin-bottom: 5px;">
        <li class="active"><a href="#home" data-toggle="tab">Headlines</a></li>
        <li><a href="#filter" data-toggle="tab">Filter</a></li>
        <li><a data-toggle="tab" href="#about">About</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="home">
      </div>

      <div class="tab-pane fade" id="about">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">About St. Louis Crimeline</h3>
            </div>
            <div class="panel-body">
              <p>St. Louis Crimeline automatically aggregates the latest crime news from local media and displays links to the stories in a responsive, mobile-friendly format.</p>
            <p>Crimeline is built with 100% open-source software. The back-end is written in <a href="http://www.python.org">Python.</a> The stories are aggregated using the <a href="http://www.scrapy.org">Scrapy</a> screen scraping and web crawling framework, which feeds items into a <a href="http://www.sqlite.org/">SQLite</a> database and <a href="https://www.djangoproject.com/">Django-powered</a> website. The front-end is handled by Twitter’s <a href="http://getbootstrap.com/">Bootstrap</a> framework.</p>
            <p>St. Louis Crimeline is an open-source project. The code that runs this website is available on <a href="https://github.com/akurtovic/STL-Crimelog/">Github.</p></a>
            </div>
        </div>
        </div>

        <div class="tab-pane fade" id="filter">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Filter by Time</h3>
            </div>
            <div class="panel-body">
                <a class="btn btn-primary" href="sixhours.html">6 Hours</a>
                <a class="btn btn-primary" href="twelvehours.html">12 Hours</a>
                <a class="btn btn-primary" href="day.html">1 Day</a>
                <a class="btn btn-primary" href="week.html">1 Week</a>
                <a class="btn btn-primary" href="month.html">1 Month</a>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Filter by Source</h3>
            </div>
              <div class="panel-body">
                <a class="btn btn-primary" href="postdispatch.html">Post-Dispatch</a>
                <a class="btn btn-primary" href="ksdk.html">KSDK</a>
                <a class="btn btn-primary" href="kmov.html">KMOV</a>
                <a class="btn btn-primary" href="rft.html">Riverfront Times</a>
                <a class="btn btn-primary" href="kmox.html">KMOX</a>
                <a class="btn btn-info">Belleville News-Democrat</a>
              </div>
        </div>
        </div> <!-- END HOME TAB -->
    </div>
        <!-- END NAV BAR -->

        <!-- START BREADCRUMB -->
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>Source</li>
          <li>BND</li>
        </ol>
        <!-- END BREADCRUMB -->

        <!-- STORY GRID -->
        {% if story_list %}
        <ul class="timeline">

        {% for story in story_list %}
			{% if forloop.counter|divisibleby:'2' %}
				<li class="timeline-inverted">
			{% else %}
				<li class="timeline">
			{% endif %}
	          <div class="timeline-badge"><i class="glyphicon glyphicon-exclamation-sign"></i></div>
	          <div class="timeline-panel">
	            <div class="timeline-heading">
	              <h4 class="timeline-title">{{ story.headline }}</h4>
	              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ story.added}}</small></p>
	            </div>
	            <div class="timeline-body">
	              <h5><a href="{{ story.url }}">{{ story.source }}</a></h5>
	            </div>
	          </div>
	        </li>
        {% endfor %}

        {% else %}
		<p>No stories loaded.</p>
		{% endif %}

      </div> <!-- CLOSE DIV ID=MAIN" -->
    </div> <!-- CLOSE DIV ID="WRAP" -->

    <footer class="footer">
      <div id="builtinstl">
        <img src="{% static "img/builtinstl.jpg" %}">
      </div>
    </footer>

    </body>
</html>
