<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <title>STL Crimeline - A timeline of St. Louis crime news</title>
    	{% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- STYLE SHEETS -->
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/custom.css" %}">

        <!-- SCRIPTS -->
        <script src="{% static "js/jquery.js" %}"></script>
        <script type ="text/javascript" src="{% static "js/bootstrap.js" %}"></script>

        <!-- FONTS -->
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- BOOTSTRAP TAB SCRIPT -->
		<script>
     		$(document).ready(function(){
        	$('.dropdown-toggle').dropdown()
    		});
		</script>
    </head>

    <body>
    <div id="wrap">
      <div id="main" class="container clear-top">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- START HEADER -->
        <div class="page-header" id="banner">
        	<div class="row">
        		<div class="col-lg-6">
                <img class="logo" src="{% static "img/logo.png" %}" alt="STL Crimeline">
            </div>
          </div>
        </div>
        <!-- END HEADER -->

        <!-- START NAV BAR -->
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" style="margin-bottom: 5px;">
        <li class="active"><a href="#home" data-toggle="tab">Headlines</a></li>
  			<li><a href="#filter" data-toggle="tab">Filter</a></li>
  			<li><a data-toggle="tab" href="#about">About</a></li>
		</ul>

		<div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="home">
      </div>

			<div class="tab-pane fade" id="about">
				<div class="panel panel-primary">
  					<div class="panel-heading">
    					<h3 class="panel-title">About St. Louis Crimeline</h3>
  					</div>
  					<div class="panel-body">
  						<p>St. Louis Crimeline automatically aggregates the latest crime news from local media and displays links to the stories in a responsive, mobile-friendly format.</p>
						<p>Crimeline is built with 100% open-source software. The back-end is written in <a href="http://www.python.org">Python.</a> The stories are aggregated using the <a href="http://www.scrapy.org">Scrapy</a> screen scraping and web crawling framework, which feeds items into a <a href="http://www.sqlite.org/">SQLite</a> database and <a href="https://www.djangoproject.com/">Django-powered</a> website. The front-end is handled by Twitter’s <a href="http://getbootstrap.com/">Bootstrap</a> framework.</p>
						<p>St. Louis Crimeline is an open-source project. The code that runs this website is available on <a href="https://github.com/akurtovic/STL-Crimelog/">Github.</p></a>
  					</div>
				</div>
	  		</div>

	  		<div class="tab-pane fade" id="filter">
          <form action="http://127.0.0.1:8000/filter.html">
            <p class="timefilter">Filter by time:
              <input type="radio" name="time" value="3" />3 Hours
              <input type="radio" name="time" value="6" />6 Hours
              <input type="radio" name="time" value="12" />12 Hours
              <input type="radio" name="time" value="24" checked="checked"/>24 Hours
              <input type="radio" name="time" value="168" />1 Week
              <input type="radio" name="time" value="720" />1 Month
            </p>

            <p class="sourcefilter">Filter by source:
              <input type="radio" name="source" value="all" checked="checked" />All
              <input type="radio" name="source" value="Post-Dispatch" />Post-Dispatch
              <input type="radio" name="source" value="KSDK" />KSDK
              <input type="radio" name="source" value="KMOV" />KMOV
              <input type="radio" name="source" value="KMOX" />KMOX
              <input type="radio" name="source" value="Belleville News-Democrat" />Belleville News-Democrat
              <input type="radio" name="source" value="Riverfront Times" />Riverfront Times
            </p>
            <input type="submit" value="Filter" />
          </form>

	  		</div> <!-- END HOME TAB -->
		</div> <!-- END NAV BAR -->

        <!-- STORY GRID -->
        <p>{{ story_count }} stories found.</p>
        {% if story_list %}
        <ul class="timeline">

        {% for story in story_list %}
			  {% if forloop.counter|divisibleby:'2' %}
				<li class="timeline-inverted">
			{% else %}
				<li class="timeline">
			{% endif %}
	          <div class="timeline-badge"><i class="glyphicon glyphicon-exclamation-sign"></i></div>
	          <div class="timeline-panel">
	            <div class="timeline-heading">
	              <h4 class="timeline-title">{{ story.headline }}</h4>
	              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ story.added}}</small></p>
	            </div>
	            <div class="timeline-body">
	              <h5><a href="{{ story.url }}">{{ story.source }}</a></h5>
	            </div>
	          </div>
	        </li>
        {% endfor %}

        {% else %}
		<p>No stories loaded.</p>
		{% endif %}

      </div> <!-- CLOSE DIV ID=MAIN" -->
    </div> <!-- CLOSE DIV ID="WRAP" -->

    <footer class="footer">
      <div id="builtinstl">
        <img src="{% static "img/builtinstl.jpg" %}">
      </div>
    </footer>

    <!-- GOOGLE ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52345495-1', 'auto');
      ga('send', 'pageview');
    </script>

    </body>
</html>
